/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f4f8;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}


header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

header nav .cta {
    background-color: #ff7e39;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Banner principal */
.banner {
    position: relative;
    background-image: url('https://picsum.photos/id/74/1600/600/'); 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color:black;
}

.banner-content p {
    font-size: 1.25rem;
    margin: 1rem 0;
    color:black;
}

.banner-content button {
    background-color: #ff7e39;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
}

.search-form form {
    display: flex;
    gap: 0.5rem;
}

.search-form input,
.search-form button {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.search-form button {
    background-color: #ff7e39;
    color: #fff;
    cursor: pointer;
    border: none;
}
